<section class="background" ng-class="{ 'red': (vm.isAlert && !vm.isRescue), 'white': (vm.isRescue && vm.isAlert) }">

<div class="device">
    <!-- <div class="triangle-up">
      <div class="indent" ng-click="vm.triggerAlert()">
      </div>
    </div>
    <div class="trapezoid" ng-click="vm.requestHelp()">
    </div> -->

    <div class="contour">
      <div class="up-btn" ng-click="vm.triggerAlert()">
      </div>

      <div class="down-btn" ng-click="vm.requestHelp()">
      </div>
    </div>
</div>




</section>
