.background {
  padding-top: 25%;
  background: #25292C;
}

.red {
  background: #CE1907;
}

.white {
  background: #F4F4EC;
}

.device {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contour {
  height: 100vh;
  background-image: url(/modules/core/client/img/widget/epic.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  position: relative;
}

.up-btn {
  background-image: url(/modules/core/client/img/widget/epic_on.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;   
}

.down-btn {
  background-image: url(/modules/core/client/img/widget/epic_on_bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
}

.up-btn:active, .up-btn:focus, .up-btn:hover, .down-btn:active, .down-btn:focus, .down-btn:hover {
  -webkit-filter: drop-shadow( 0px -10px 10px #333 );
            filter: drop-shadow( 0px -10px 10px #333 );
}